# Python
*.pyc
*~
__pycache__


# Base de donnée
db.mysql

# Dossier "static" à la racine du projet
/static/


# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

Text
XPath: /pre[2]/code